<div class="filter-list">
@if (mediaType === 'movies') {
    <app-select [options]="moviesFilterOptions" (selectedFilter)="onSelect($event)"></app-select>
}@else {
    <app-select [options]="tvFilterOtions" (selectedFilter)="onSelect($event)"></app-select>

}
</div>
<div class="view">
    @if(isLoading){
        @for (card of dummyCards; track $index) {
            <ngx-skeleton-loader [theme]="{
                'background-color': '#20283e',
                'height': '25rem',
                'border-radius': '10px'
            }" animation="pulse"></ngx-skeleton-loader>
        }
    }
    
    @else {
        @for (media of mediaList; track $index) {
    
                <app-media-card 
                [routerLink]="'/'+'details'+'/'+(mediaType === 'movies' ? 'movie':'tv')+'/'+media.id"
                [media]="media"
                ></app-media-card>
        }
    }


</div>
<div class="paginator">
    <app-paginator (pageChanged)="onPagination($event)" [currentPage]="currentPage"></app-paginator>
</div>