<div class="home-container">
    <div class="header">
        <h1><span class="primary">A</span>ura<span class="primary">W</span>atch</h1>
    </div>
    <div class="sub-header">
        <p>AuraWatch is a dynamic movie streaming platform for film lovers, offering a vast library of movies from all genres and eras.</p>
    </div>
    <div class="search-bar">
        <label  [ngClass]="{'focused': isInputFocused}" for="search" class="search-label">Search for something.</label>
        <input (focus)="onFocus()" (blur)="onBlur()" type="text" name="search" id="search" placeholder="eg. Breaking bad">
        <i class="bi bi-search search-icon"></i>   
    </div>
    <app-segmented-control (mediaChanged)="onMediaFilterChange($event)"></app-segmented-control>
    <div class="selected-media-filter">
        <p>{{selectedMediaFilter|titlecase}}</p>
    </div>
</div>
<div class="view">
    @if(isLoading){
        @for (card of dummyCards; track $index) {
            <ngx-skeleton-loader [theme]="{
                'background-color': '#20283e',
                'height': '25rem',
                'border-radius': '10px'
            }" animation="pulse"></ngx-skeleton-loader>
        }
    }
    @else {
        @for (trend of trendsList; track $index) {
            @if(selectedMediaFilter === 'all'){
                <app-media-card 
                [routerLink]="'/'+'details'+'/'+trend.media_type+'/'+trend.id"
                [previewImageUrl]="'https://image.tmdb.org/t/p/w500/'+trend.poster_path"
                [mediaName]="trend.title ? trend.title : trend.name"
                [mediaRating]="trend.vote_average"></app-media-card>
            }@else {
                <app-media-card 
                *ngIf="selectedMediaFilter === trend.media_type"
                [routerLink]="'/'+'details'+'/'+trend.media_type+'/'+trend.id"
                [previewImageUrl]="'https://image.tmdb.org/t/p/w500/'+trend.poster_path"
                [mediaName]="trend.title ? trend.title : trend.name"
                [mediaRating]="trend.vote_average"></app-media-card>
            }
        }
    }


</div>
<div class="paginator">
    <app-paginator (pageChanged)="onPagination($event)" [currentPage]="currentPage"></app-paginator>
</div>