<div class="home-container">
    <div class="header">
        <h1><span class="primary">A</span>ura<span class="primary">W</span>atch</h1>
    </div>
    <div class="sub-header">
        <p>AuraWatch is a dynamic movie streaming platform for film lovers, offering a vast library of movies from all genres and eras.</p>
    </div>
    <div class="search-bar">
        <div class="search-input">
            <input (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="keyword" type="text" name="search" id="search" placeholder="eg. Breaking bad">
            <button class="search-icon" (click)="onSearch()">
                <i class="bi bi-search "></i>   
            </button>
        </div>
    </div>
    <app-segmented-control (mediaChanged)="onMediaFilterChange($event)"></app-segmented-control>
    <div class="selected-media-filter">
        <p>{{selectedMediaFilter|titlecase}}</p>
    </div>
</div>
<div class="view">
    @if(isLoading){
        @for (card of dummyCards; track $index) {
            <ngx-skeleton-loader [theme]="{
                'background-color': '#20283e',
                'height': '25rem',
                'border-radius': '10px'
            }" animation="pulse"></ngx-skeleton-loader>
        }
    }
    @else {
        @for (trend of trendsList; track $index) {
            @if(selectedMediaFilter === 'all'){
                <app-media-card 
                [routerLink]="'/'+'details'+'/'+trend.media_type+'/'+trend.id"
                [media]="trend"
                [isFavorite]="isFavorite(trend)"
                ></app-media-card>
            }@else {
                <app-media-card 
                *ngIf="selectedMediaFilter === trend.media_type"
                [routerLink]="'/'+'details'+'/'+trend.media_type+'/'+trend.id"
                [media]="trend"
                [isFavorite]="isFavorite(trend)"></app-media-card>
            }
        }
    }


</div>
<div class="paginator">
    <app-paginator (pageChanged)="onPagination($event)" [currentPage]="currentPage" [totalPages]="totalPages"></app-paginator>
</div>